h2 {
    background: #118651;
    color: #76af9a;
    font-size: 1.5em;
    font-family: sans-serif;
}

html {
    background: #118651;
    color: #afada9;
    font-size: 1.5em;
    font-family: sans-serif;

}
button {
    padding: 10px;
    margin-right: 30px;
    background: rgba(175, 173, 169, 0.71);
    border: none;
    box-shadow: 3px 5px 5px #000;
}
button:hover {
    box-shadow: inset 1px 1px 1px #000;
    cursor: pointer;
}
button:active {
    background: #696;
    box-shadow: inset 1px 1px 3px #000;
}
form {
    background: #118651;
    color: #afada9;
    font-size: 1.5em;
    font-family: sans-serif;

}
